<div class="form-group">
    <label for="password">Password:</label>
     <div class="main"  height = "600px">
   
            <div class="single-column">
            <a href="#"><img src="https://picsum.photos/300/300?random=1" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=2" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=3" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=4" alt="image"></a>
            </div>
            <div class="single-column">
            <a href="#"><img src="https://picsum.photos/300/300?random=13" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=14" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=15" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=16" alt="image"></a>
            </div>
            <div class="single-column">
            <a href="#"><img src="https://picsum.photos/300/300?random=17" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=18" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=19" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=20" alt="image"></a>
            </div>
            <div class="single-column">
            <a href="#"><img src="https://picsum.photos/300/300?random=21" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=22" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=23" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=24" alt="image"></a>
            </div>
            <div class="single-column">
            <a href="#"><img src="https://picsum.photos/300/300?random=25" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=26" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=27" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=28" alt="image"></a>
            </div>
        </div>
</div>
   <script> 
[...document.querySelectorAll('.single-column')].map(column => {
 column.style.setProperty('--animation', 'slide');
 column.style.setProperty('height', '200%');
 column.innerHTML = column.innerHTML + column.innerHTML;
});
   </script>
